.mat-card {
    height: calc(100vh - 165px);
    overflow: auto;
    padding: 0 16px 16px!important;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }

  .mat-form-field {
      width: 70%;
  }

  .mat-form-field input {
      font-size: 16px;
  }