<header>
    <nav>
        <a routerLink="/home">
            <img src="assets/img/logo.png" alt="logo">
        </a>
        <ul class="ml-auto">
            <li><a routerLink="home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="">portfolio</a></li>
            <li><a routerLink="">Technologies</a></li>
            <li><a routerLink="">Marketing Insight</a></li>
            <li><a routerLink="">Services</a></li>
            <li><a routerLink=""> About us</a></li>
          
        </ul>
    </nav>
</header>  

                                 