<div>
    <h3 class="mb-md-4">Employees: {{ total_emp }}</h3>
    <div class="row">
        <div class="col-md-3" *ngFor="let employee of employees">
            <div class="emp_box h-100">
                <img src="assets/img/avatar_male2.png" *ngIf="employee.employee_age >= 30" alt="avatar">
                <img src="assets/img/avatar_male.png" *ngIf="employee.employee_age <= 25" alt="avatar">
                <h4>{{employee.employee_name}}</h4>
                <button routerLink="/employee-details/{{employee.id}}">Details</button>
            </div>
        </div>
    </div>
</div>