$bg_color:#fff;
$text_color:#fff;
$text_shadow:0 2px 5px rgba(0,0,0,0.4);

.wraper {

    h3 {
        font-size: 24px;
        margin-bottom: 30px;
        color: $text_color;
        text-shadow:$text_shadow;
    }

    .user_type_box {
        padding: 40px 20px 20px;
        border-radius: 10px;
        box-shadow: 0 1px 6px rgba(0,0,0,0.2);
        background-color:$bg_color;
       
        h4 {
            color: #009688;
            font-size: 22px;
            font-weight: 600;
        }

        h5 {
            font-size: 18px;
        }

        .error,.error2 {
            color: #ff0000;
        }
    }
}