<div class="row">
    <div class="col-md-3" *ngFor="let course of courses">
        <div class="course_box h-100">
            <img src="{{course.url}}" alt="image">
            <div class="course_btm">
                <h4>{{course.name}}</h4>
                <p>{{course.description}}</p>
               <div class="d-flex align-items-center justify-content-between">
                <h5>${{course.price}}</h5>
                <s>${{5 + course.price | number}}</s>
               </div>
               <button routerLink="/course-details/{{course.id}}">View details</button>
            </div> 
        </div>
    </div>
</div>


<div class="loader_wraper" *ngIf="inloades">
    <div class="loader"></div>
</div>