header {
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding:15px 0;
    z-index: 9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    .navbar {
        .menu {
            flex-direction: row;
            margin-left:90px;
            li {
               
                a {
                    padding: 0 40px;
                    font-size: 16px;
                    color: #000;
                    text-decoration: none;

                    &:nth-child(1) {
                        padding-left: 0;
                    }
                }
            }
        }

        .right_menu {
            li {
                a {
                    font-size: 16px;
                    color: #000;  
                }
            }
        }

        .logo {
            font-size: 30px;
            font-weight: bold;
        }

        .logout_btn {
            cursor: pointer;
        }
    }
}