$bg_color:#fff;
$text_color:#fff;
$text_shadow:0 2px 5px rgba(0,0,0,0.4);

.wraper {
    h2 {
        font-size: 28px;
        text-align: center;
        margin-bottom: 50px;
        color: $text_color;
        font-weight: 600;
        text-shadow:$text_shadow;
    }

    h3 {
        font-size: 24px;
        margin-bottom: 30px;
        color: $text_color;
        text-shadow:$text_shadow;
    }

    .user_type_box {
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 1px 6px rgba(0,0,0,0.2);
        background-color:$bg_color;
       
        
        ul {
            list-style: none;
            padding: 0;
            li {
                display: block;
                font-size: 16px;
                padding: 10px 15px;
                background-color: #ededed;
                border-radius: 4px;
                margin-bottom: 5px;

                span {
                    cursor: pointer;
                    font-weight: 500;
                    color: #d32f2f;
                }
            }
        }
        h4 {
            color: #009688;
            font-size: 22px;
            font-weight: 600;
        }
    }
}