$primary_text_color: #868686;
$primary_bg_color: #111c26;
$secondry_txt_color: #e0e0e0;
$active_bg_color: #2f3842;


.sidebar {
    background-color:#232e3a;
    background-image: linear-gradient(45deg, #0a151f, #232e3a)!important;
    position: fixed;
    top: 0;
    left: 0;
    width: 265px;
    height: 100%;
    transition: all 0.15s ease-in;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    z-index: 3;

    .sidebar_top {
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
        color:$secondry_txt_color;
        max-height: 70px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        box-sizing: border-box;

        h2 {
            white-space: nowrap;
            font-size: 26px;
            text-shadow: 0 2px 5px rgba(0,0,0,0.4);       
        }

        button {
            background-color: transparent;
            border:none;
            outline:none;
            cursor: pointer;
            color: $secondry_txt_color;
        }
    }

    .sidebar_menu {
        padding-top: 50px;
        ul {
            li {
                margin-bottom: 10px;

                a {
                    display: flex;
                    flex-wrap: nowrap;
                    white-space: nowrap;
                    align-items: center;
                    color: $primary_text_color;
                    font-size: 16px;
                    padding: 15px 20px;
                    text-transform: capitalize;
                    transition: all 0.2s ease;

                    i {
                        margin-right: 15px;
                    }

                    span {
                        transition: all 0.2s ease;
                        opacity: 1;
                    }

                    &:hover:not(i) span {
                        color:#bdbdbd;
                    }
                }
            }
        }
    }
}

li.active a, li.active a:hover span{
    background-color:$active_bg_color;
    color: #5f9ea0!important;
}

.collapse {
    width: 70px;

    .sidebar_top {
        justify-content: center;
        padding: 22px 20px;
    }

    h2 {
        display: none;
    }

    .sidebar_menu {
        ul {
            li {
                a {
                    span {
                        opacity: 0;
                    }
                }
            }
        }
    }
   
}