/* You can add global styles to this file, and also import other style files */

* {
    margin:0;
    padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Work Sans', sans-serif;}

a {text-decoration: none;}

.margin_left {
    margin-left: 265px!important;
}

@media(max-width:991px) {
    .margin_left {
        margin-left: 70px!important;
    } 
}
