<header>
    <div class="head_in" [ngClass]="!commonTask.hideSideNav?'margin_lft':'margin_lft70'">
        <nav>
            <div class="nav_lft col-30">
                <h2>{{heading}}</h2>
            </div>
            <div class="nav_rht col-70">
                <ul>
                    <li><input type="text" placeholder="Search.."><button type="button"><i class="material-icons">search</i></button></li>
                    <li><a href="javascript:void(0)"><i class="material-icons">call</i></a></li>
                    <li><a href="javascript:void(0)"><i class="material-icons">notifications</i></a></li>
                    <li><a href="javascript:void(0)"><i class="material-icons">account_circle</i></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>