.sidebar {
    position: fixed;
    top:0;
    left:0;
    width: 235px;
    height: 100vh;
    overflow: auto;
    background-color: #f0a500;
    padding-top: 90px;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);

    ul {
        li {
            display: block;
            a {
                color:#fff;
                display: flex;
                align-items: center;
                padding: 8px 15px;
                text-decoration: none;
                text-transform: capitalize;
                overflow: hidden;
                white-space: nowrap;

                span {
                    transition: all 0.3s ease-in-out;
                    opacity: 1;
                }

                i {
                    margin-right: 10px;
                    font-size: 30px;
                }
            }
        }
    }
}

li.active {
    background-color: #1a1c20;
}


.collpase {
    width: 60px;

     ul {
         li {
             a {
                 span {
                     opacity: 0;
                 }
             }
         }
     }
}