header {
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    nav {
        padding-left: 0;
    }
    ul {
    list-style: none;
     li {
         display: inline-block;
         a {
             font-size: 16px;
             color: #555;
             padding: 10px 25px 25px;
         }
     }
    }
}

header nav ul li + li {
    margin-left:15px;
}

header ul li a.active {
    color: #3F51B5;
    font-weight: 500;
}